*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Just design for search window to show app is runned */
.App{
  height: 100vh;
  overflow: hidden;
}

.search{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.form-section{
  margin: 20px;
  width: 600px;
  position: relative;
}

.form-section input{
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.6em;
}

.form-section span{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.6em;
  color: grey;
}

/* command pallete 
Design for main command pallete
Not so emphasised not design
*/

.command_pallete_container{
  margin: 50px auto;
  width: 80%;
  max-height: 70vh;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
}

.command_pallete{
  position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 80%;
 background-color: white;
 margin: auto;
 padding: 0 10px;
}

.command_pallete:focus-within{
  border: 2px solid aqua;
}

.command_pallete #input{
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.3em;
  border: none;
  outline: none;
}

.command_pallete .additional-property{
  display: flex;
  justify-content: center;
  align-items: center;

}

.command_pallete .additional-property button{
  padding: 10px;
  margin: 10px;
  background: none;
  outline: none;
  border: none;
}

.command_pallete_filter_container{
  width: 80%;
  margin: 30px auto;
  max-height: 200px;
  overflow: hidden;
  overflow-y: scroll;
}

.command_pallete_filter_container li{
  width: 100%;
  padding: 10px;
  margin: 2px;
  font-size: 1.3em;
  background-color: white;
}

.command_pallete_inputs{
  display: flex;
}

.command_pallete_extras{
  display: flex;
}

.command_pallete_extras input{
  margin: 10px;
  width: 30%;
  padding: 5px;
  outline: none;
}
.command_pallete_extras select{
  margin: 10px;
  min-width: 30%;
  max-width: auto;
  padding: 5px;
  outline: none;
}

.command_pallete_extras input:focus{
  border: 2px solid aqua;
}
